* {
    box-sizing: border-box;;
  }
  
  :root {
    --primary: #242333;
    --secondary: #FFFFFF;
    --tertiary: #01B0D3;
    --hover: #01b0d394;
    font-size: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  }
body {
    background-color: var(--primary);
}
header{
    flex-wrap: wrap;
    color: var(--secondary);
    text-align: center;
    visibility: visible;
    position: absolute;
    align-items: center;
    float: top;
    z-index: 1;
    zoom: 200%;
  }

header h1 {
    border-style: double;
    border-color: var(--tertiary);
}

.container-header {
  position:fixed;
  left: 15%;
}


.btn, .btn #A, .btn #B, .btn #C, .btn #D {
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--tertiary);
    font-size: 2.2rem;
    border-radius: 12px;
    top: -3px;
    box-shadow: 0 4px 4px 0 grey;
  }
  
  .btn:hover {
    box-shadow: 0 4px 4px 0 grey;
    background-color:#01b0d37c;
    color: var(--secondary);
    top: -2px;
    cursor: pointer;
  }
  .btn:focus {
    box-shadow: 0 0px;
    top: 0;
    background-color:#01b0d37c;
    color: var(--secondary);
  }

  main {
    visibility: hidden;
    position: absolute;
    float: top;
    z-index: 1000;
    zoom: 75%
    
  }

  .quiz-box {
    background-color: var(--secondary);
    padding: 20px;
    margin:50px;
    border-radius: 15px;
    border-color: var(--tertiary);
    border-style:ridge;
    border-width: 30px;
    max-width:max-content;
    max-height: max-content;
    }
.heading-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.title {
    font-size: 30px;;
}
.time-remaining {
    font-size: 30px;
   padding-left: 450px;
}
.timer-count {
    font-size: 50px;
}

.question-box {
    padding-top: 30px;
    font-size: 25px;
    display: flex;
    justify-content: center;
}

  .option-box ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  .option-box ul li button {
    background-color: var(--primary);
    border-radius: 15px;
    padding: 30px;
    margin:30px;
    color: var(--secondary);
    min-width: 400px;
    max-width: 400px;
    min-height: 100px;
    max-height: 100px;
  }
  .option-box ul li button:hover{
    background-color: var(--hover)
  }

.skip-submit {
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
    margin: 20px;
}
.skip-submit button{
    padding: 30px;
    margin:30px;
    min-width: 170px;
}

.exit-restart {
    display:flex;
    flex-wrap: wrap;
    justify-content:right;
    margin: 20px;
}
.exit-restart button{
    padding: 30px;
    margin:30px;
    min-width: 170px;
}

section {
  visibility: hidden;
  background-color: var(--secondary);
  padding: 20px;
  margin:50px;
  border-radius: 15px;
  border-color: var(--tertiary);
  border-style:ridge;
  border-width: 30px;
  width:700px;
  height: 700px;
}
